 .registrar{ 
 float:left; 
 width:95%; 
 font-size:24px; 
 font-weight:bold; 
 color:; 
 text-align:left; }
 
 .envoltura{ 
 position:absolute; 
 left:50%;
 top:50%;
 margin-left:-320px; 
 margin-top: -210px; 
 width: 100px;
 }

label{
	color: #666; font-weight: bold 
} 
input{ 
	 border-radius:5px;  
	 box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8); 
	 font:bold 12px Arial, Helvetica, sans-serif; 
	 height: 24px; line-height: 20px; padding:0 2px;
	 width: 230px; } 
input.usuario{
		 padding-left: 25px; 
	 }
input.contrasenia{ 
		 padding-left: 25px; } 
.boton{ 
		 background: #ffff2;
		 background: -webkit-linear-gradient(top,#ffffcc,#fc6); 
		 background: linear-gradient(top,#ffffcc,#fc6); 
		 /*Color del texto*/ 
		 color: #666; width: 120px; }
		 /*Tip estas instrucciones animan el boton enviar
		 * para que se vea como si se pulsara*/ 
.boton:active{
			 position: relative; top: 3px; } 
			
		 form,p{ margin:0; } 
 p{ 
 padding-bottom: 5px; } 
 /*Para separar el botón de ingresar*/ 
 p.bot{ 
 padding-top: 10px; }
.center {
	background-color: #f2f2f2;
	border: 1px solid #999; 
	border-radius:5px; 
	box-shadow: 2px 2px 3px 1px rgba(0,0,0,.8); 
    width: 650px;
    padding: 15px;
	margin-top:10%;
	margin-left:25%;
	}
input[type="text"]{
	background:#ffff2;
	width:350px;
	height:10px;
	font-size:20px;
	padding:15px;
	}

	
.cguardar {
	background:white;
	text-decoration: none;
	border-radius:0px;  
	box-shadow:0px; 
	
}
	